body {
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

}

h1 {

    font-size: 40px;
}

.color {
    color: orange;
}

.line {

    border-left: 4px royalblue solid;
    border-image-slice: 1;
}

.button {
    text-decoration: none;
    background-color: red;
    padding: 5px 10px;
    color: black;
    font-weight: bold;
    border-radius: 5px;

}

.first-pic img {
    width: 30%;
    padding-left: 50%;

}

.first-sec {
    display: flex;
    margin-bottom: 100px;
}

.introduction {
    width: 50%;
    padding-left: 5%;
}

#font-size {
    font-size: 15px;
}